<%= form_for(@searcheat) do |f| %>
  <% if @searcheat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@searcheat.errors.count, "error") %> prohibited this searcheat from being saved:</h2>

      <ul>
      <% @searcheat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :people %><br>
    <%= f.text_field :people %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
